services:
    db:
        image: postgres:17
        container_name: sok_postgres
        environment:
            - 'POSTGRES_DB=${POSTGRES_DB}'
            - 'POSTGRES_USER=${POSTGRES_USER}'
            - 'POSTGRES_PASSWORD=${POSTGRES_PASSWORD}'
        ports:
            - '${POSTGRES_PORT}:5432'
        volumes:
            - sok_pgdata:/var/lib/postgresql/data

volumes:
    sok_pgdata:
